@charset "UTF-8";
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body, header{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.nav a {
    color: #000;
    text-decoration: none;
} 
.nav a:hover{
    cursor: pointer;
    color: #009170;
}
.nav a.active{
    color: #009170;
}

header a{
    color: #000;
    text-decoration: none;
}
header {
    background-color: #f2f2f0;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    width: 25%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

div.nav.middle {
    width: 50%;
}

div.nav.middle ul{
    display: flex;
    padding-right:40px;
    justify-content: center;
    gap: 5rem;
}

.nav ul li a {
    color: #000000;
    text-decoration: none;
}

div.nav.right {
    width: 25%;
}

div.nav.right{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

main {
    padding: 20px;
}
.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    align-items: center;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
}

form label{
    font-family: "poppins",sans-serif;
    font-size: 28px;
    font-weight: 600;
}
form{
    align-items: center;
}

form select{
    background-color: #f2f2f0;
}

  /* Style the arrow inside the select element: */
form select {
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-color: #ccc ;
}

form select option{
    align-items: center;
}

select{
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;

    
}

