@charset "ISO-8859-1";


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f0;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    width: 25%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

div.nav.middle {
    width: 50%;
}

div.nav.middle ul{
    display: flex;
    padding-right:40px;
    justify-content: center;
    gap: 5rem;
}

.nav ul li a {
    color: #000000;
    text-decoration: none;
}

div.nav.right {
    width: 25%;
}

div.nav.right ul{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

h1 span {
    font-style: italic;
}

.c-form {
    background-color:#fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.c-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.c-form p {
    margin-bottom: 20px;
}

.c-form .email {
    font-style: italic;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
}

form button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.letter,
.snapchat,
.social {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.letter input,
.letter button {
    display: inline-block;
    margin-right: 10px;
}

.snapchat img {
    max-width: 100px;
}

.social .icons {
    display: flex;
    justify-content: center;
}

.social .icons a {
    color: #000;
    margin: 0 10px;
    font-size: 24px;
}	